attic
attic2
venv/
.DS_Store
.idea/
shuffle/
shuffle-orig/
static/atis-assets/elements/blue-up.svg
static/atis-assets/elements/bullets-dark-left.svg
static/atis-assets/elements/bullets-dark-right.svg
static/atis-assets/elements/bullets-green-left.svg
static/atis-assets/elements/bullets-green-right.svg
static/atis-assets/elements/bullets-pink-left.svg
static/atis-assets/elements/bullets-purple-left.png
static/atis-assets/elements/bullets-yellow-left.svg
static/atis-assets/elements/bullets-yellow-right.svg
static/atis-assets/elements/green-up.svg
static/atis-assets/elements/left-quote.png
static/atis-assets/elements/line-light-gray.svg
static/atis-assets/elements/line-light.svg
static/atis-assets/elements/line.svg
static/atis-assets/elements/purple-up.svg
static/atis-assets/elements/puzzle.svg
static/atis-assets/elements/quote-grey.svg
static/atis-assets/elements/terminal.svg
static/atis-assets/elements/thumb-up.svg
static/atis-assets/elements/user-circle.svg
static/atis-assets/elements/wing-pink-down.svg
static/atis-assets/elements/wing-purple-down.svg
static/atis-assets/elements/wing-yellow-down.svg
static/atis-assets/illustrations/book-detail.png
static/atis-assets/illustrations/details-full.png
static/atis-assets/illustrations/details.png
static/atis-assets/illustrations/home.png
static/atis-assets/illustrations/login-full.png
static/atis-assets/illustrations/login.png
static/atis-assets/illustrations/men-on-chair-green-background.png
static/atis-assets/illustrations/men-on-chair-light-green.png
static/atis-assets/illustrations/men-on-chair-light.png
static/atis-assets/illustrations/men-on-chair-purple-background.png
static/atis-assets/illustrations/men-on-chair-purple-dark.png
static/atis-assets/illustrations/men-on-chair.png
static/atis-assets/illustrations/pablo-coming-soon-dark-mono.png
static/atis-assets/illustrations/pablo-coming-soon-flat-color.png
static/atis-assets/illustrations/pablo-coming-soon-light-color.png
static/atis-assets/illustrations/pablo-coming-soon-mono.png
static/atis-assets/illustrations/pablo-working.png
static/atis-assets/illustrations/pablo.png
static/atis-assets/illustrations/scene.png
static/atis-assets/illustrations/technical-support-dark-green.png
static/atis-assets/illustrations/technical-support-little-dark-green.png
static/atis-assets/illustrations/technical-support-little-dark-purple.png
attic2/atis/atis-color-black.svg
attic2/atis/atis-color-sign.svg
attic2/atis/atis-color-white.svg
attic2/atis/atis-flat-white.svg
attic2/atis/atis-flat.svg
attic2/atis/atis-mono-green.svg
attic2/atis/atis-mono-light.svg
attic2/atis/atis-mono-sign.svg
attic2/atis/atis-mono-white.svg
static/atis-assets/logo/brands/
static/atis-assets/social/clutch-logo.png
static/atis-assets/social/facebook-light-green.svg
static/atis-assets/social/facebook-logo.png
static/atis-assets/social/facebook-name.png
static/atis-assets/social/facebook-purple.svg
static/atis-assets/social/facebook-yellow.svg
static/atis-assets/social/google-logo.png
static/atis-assets/social/instagram-light-green.svg
static/atis-assets/social/instagram-purple.svg
static/atis-assets/social/instagram-yellow.svg
static/atis-assets/social/twitter-light-green.svg
static/atis-assets/social/twitter-purple.svg
static/atis-assets/social/twitter-yellow.svg
