  /*
  body,
tbody tr td {
    font-size: 0.9rem
}
 */
  
  footer,
  form input[type=submit] {
      background-color: #3e8469;
      /* #4c7869; /* #268f68; */
  }
  
  header {
      background-color: #fff;
      color: grey;
  }
  
  header a:link,
  header a:visited,
  header a:hover,
  header a:focus,
  header a:active,
  header button.button-as-link {
      color: grey;
  }
  
  body {
      background-color: #fdfefd;
      /*#fcfffe; /*#fafffd; /* fbfffb *#f3faf3;  /* #eeffee; #fbfbfa;*/
  }
  
  #facet-Active_ingredient {
      width: 308px;
  }
  
  .facet-info ul {
      padding-left: 1em;
  }
  
  .facet-info ul li {
      list-style-position: outside;
      margin-left: 1em;
  }
  /* helpful resource: https://www.canva.com/colors/color-wheel/ */
  
  td[data-safety="Toxic"] {
      background-color: #f3d3d5;
      /* #F8F0F0; /*red;*/
  }
  
  td[data-safety="Safer"] {
      background-color: #b2d8b0;
      /*#D9EDE5; /*#f0f8f0; /*green;*/
  }
  
  td[data-time="0.25"],
  td[data-time="0.5"],
  td[data-time="1.0"],
  td[data-time="2.0"],
  td[data-time="2.5"],
  td[data-time="2.75"],
  td[data-time="3.0"],
  td[data-time="4.0"],
  td[data-time="5.0"],
  td[data-time="6.0"],
  td[data-time="10.0"],
  td[data-time="15.0"],
  td[data-time="20.0"],
  td[data-time="25.0"],
  td[data-time="30.0"] {
      text-indent: -9999px;
      line-height: 0;
      /* Collapse the original line */
  }
   td[data-time="0.1"]::after,
  td[data-time="0.25"]::after,
  td[data-time="0.5"]::after,
  td[data-time="1.0"]::after,
  td[data-time="2.0"]::after,
  td[data-time="2.5"]::after,
  td[data-time="2.75"]::after,
  td[data-time="3.0"]::after,
  td[data-time="4.0"]::after,
  td[data-time="5.0"]::after,
  td[data-time="6.0"]::after,
  td[data-time="10.0"]::after,
  td[data-time="15.0"]::after,
  td[data-time="20.0"]::after,
  td[data-time="25.0"]::after,
  td[data-time="30.0"]::after {
      text-indent: 0;
      display: block;
      line-height: initial;
      /* New content takes up original line height */
  }

    td[data-time="0.1"]::after {
      content: "6 seconds";
  }

  
  td[data-time="0.25"]::after {
      content: "15 seconds";
  }
  
  td[data-time="0.5"]::after {
      content: "30 seconds";
  }
  
  td[data-time="1.0"]::after {
      content: "1 minute";
  }
  
  td[data-time="2.0"]::after {
      content: "2 minutes";
  }
  
  td[data-time="3.0"]::after {
      content: "3 minutes";
  }
  
  td[data-time="4.0"]::after {
      content: "4 minutes";
  }
  
  td[data-time="5.0"]::after {
      content: "5 minutes";
  }
  
  td[data-time="6.0"]::after {
      content: "6 minutes";
  }
  
  td[data-time="10.0"]::after {
      content: "10 minutes";
  }
  
  td[data-time="15.0"]::after {
      content: "15 minutes";
  }
  
  td[data-time="20.0"]::after {
      content: "20 minutes";
  }
  
  td[data-time="25.0"]::after {
      content: "25 minutes";
  }
  
  td[data-time="30.0"]::after {
      content: "30 minutes";
  }
  
  td.col-Contact_time.type-float {
      color: #111A35;
  }
  
  @keyframes highlight-fade {
      0% {
          Background: #cde7dd;
      }
      100% {
          Background: none;
      }
  }
  
  .fade-bg>p {
      animation: highlight-fade 1s;
  }
  
  #main {
      padding: 50px;
      background-color: #f9fafb;
  }

  .page-header {
      margin-top: 0;
  }

  i, i a {font-style: italic;}