body,tbody tr td {
font-size:0.9rem
}



header, footer,form input[type=submit] {
  background-color: #3e8469; /* #4c7869; /* #268f68; */
  font-
}
body {
  background-color: #fdfefd; /*#fcfffe; /*#fafffd; /* fbfffb *#f3faf3;  /* #eeffee; #fbfbfa;*/
}

#facet-Active_ingredient {
  width:308px;
}

.facet-info ul {
    padding-left: 1em;
    }

.facet-info ul li {
  list-style-position: outside;
  margin-left: 1em;
  }

/* helpful resource: https://www.canva.com/colors/color-wheel/ */
td[data-safety="Toxic"] {
    background-color: #EFDEE4; /* #F8F0F0; /*red;*/
}
td[data-safety="Safer"] {
    background-color: #DEEFE8; /*#D9EDE5; /*#f0f8f0; /*green;*/
}

