<html lang="en-US">

<head>


    <link rel="stylesheet" href="{{ urls.static('app.css') }}?{{ app_css_hash }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% for url in extra_css_urls %}
    <link rel="stylesheet" href="{{ url.url }}" {% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous" {% endif %}> {% endfor %} {% for url in extra_js_urls %}
    <script {% if url.module %}type="module" {% endif %}src="{{ url.url }}" {% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous" {% endif %}></script>
    {% endfor %} {% block extra_head %}{% endblock %}





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog – Safer or Toxic? </title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Safer or Toxic?  » Feed" href="https://saferortox1stg.wpengine.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="Safer or Toxic?  » Comments Feed" href="https://saferortox1stg.wpengine.com/comments/feed/">
    <script>
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/saferortox1stg.wpengine.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.1"
            }
        };
        ! function(e, a, t) {
            var n, r, o, i = a.createElement("canvas"),
                p = i.getContext && i.getContext("2d");

            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
            }

            function c(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"), t.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
                if (!p || !p.fillText) return !1;
                switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
                    case "flag":
                        return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                    case "emoji":
                        return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
                }
                return !1
            }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
                t.DOMReady = !0
            }, t.supports.everything || (n = function() {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
                "complete" === a.readyState && t.readyCallback()
            })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="https://saferortox1stg.wpengine.com/wp-includes/js/wp-emoji-release.min.js?ver=5.7.1" type="text/javascript" defer=""></script>
    <style>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        
        #masthead {
            background-color: #ffffff;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="https://saferortox1stg.wpengine.com/wp-includes/css/dist/block-library/style.min.css?ver=5.7.1" media="all">
    <link rel="stylesheet" id="wp-block-library-theme-css" href="https://saferortox1stg.wpengine.com/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.1" media="all">
    <link rel="stylesheet" id="twenty-twenty-one-style-css" href="https://saferortox1stg.wpengine.com/wp-content/themes/safer-theme/style.css?ver=1." media="all">
    <style id="twenty-twenty-one-style-inline-css">
         :root {
            --global--color-background: #ffffff;
            --global--color-primary: #000;
            --global--color-secondary: #000;
            --button--color-background: #000;
            --button--color-text-hover: #000;
        }
    </style>
    <link rel="stylesheet" id="twenty-twenty-one-print-style-css" href="https://saferortox1stg.wpengine.com/wp-content/themes/safer-theme/assets/css/print.css?ver=1." media="print">
    <link rel="https://api.w.org/" href="https://saferortox1stg.wpengine.com/wp-json/">
    <link rel="alternate" type="application/json" href="https://saferortox1stg.wpengine.com/wp-json/wp/v2/pages/118">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://saferortox1stg.wpengine.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://saferortox1stg.wpengine.com/wp-includes/wlwmanifest.xml">
    <link rel="canonical" href="https://saferortox1stg.wpengine.com/blog/">
    <link rel="shortlink" href="https://saferortox1stg.wpengine.com/?p=118">
    <link rel="alternate" type="application/json+oembed" href="https://saferortox1stg.wpengine.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsaferortox1stg.wpengine.com%2Fblog%2F">
    <link rel="alternate" type="text/xml+oembed" href="https://saferortox1stg.wpengine.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsaferortox1stg.wpengine.com%2Fblog%2F&amp;format=xml">
    <style id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>
    <link rel="icon" href="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/cropped-FullColor_IconOnly_1280x1024_72dpi_50-32x32.jpeg" sizes="32x32">
    <link rel="icon" href="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/cropped-FullColor_IconOnly_1280x1024_72dpi_50-192x192.jpeg" sizes="192x192">
    <link rel="apple-touch-icon" href="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/cropped-FullColor_IconOnly_1280x1024_72dpi_50-180x180.jpeg">
    <meta name="msapplication-TileImage" content="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/cropped-FullColor_IconOnly_1280x1024_72dpi_50-270x270.jpeg">
    <style id="wp-custom-css">
        .FAQ_listing ul {
            list-style: disc;
            padding-left: 25px;
        }
        
        #primary-menu-list li:last-child {
            display: none;
        }
    </style>
</head>

<body class="page-template page-template-page-blog page-template-page-blog-php page page-id-118 custom-background wp-custom-logo wp-embed-responsive antialiased bg-body text-body font-body is-light-theme has-background-white singular has-main-navigation no-widgets">
    <div>


        <header id="masthead" class=" has-logo has-title-and-tagline has-menu" role="banner">

            <section class="overflow-hidden">







                <nav id="site-navigation" class="relative px-6 py-6 flex justify-between items-center bg-white" role="navigation" aria-label="Primary menu">


                    <!--a class="text-3xl font-bold leading-none" href="#">
            <img src="atis-assets/logo/atis/atis-mono-black.svg" alt="Maryland Pesticide Network" width="NaN">
            
        </a-->

                    <a href="https://saferortox1stg.wpengine.com/" class="custom-logo-link" rel="home"><img width="267" height="49" src="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic-300x55.png" class="custom-logo" alt="Logo: Safer or Toxic?" srcset="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic-300x55.png 300w, https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic.png 536w"
                            sizes="(max-width: 267px) 100vw, 267px"></a>
                    <!--div class="site-branding">

    
                        <p class="site-title"><a href="https://saferortox1stg.wpengine.com/">Safer or Toxic? </a></p>
            
            <p class="site-description">
            &#039;List N&#039; Disinfectants		</p>
    </div-->
                    <!-- .site-branding -->







                    <!--div class="menu-button-container">
            <button id="primary-mobile-menu" class="button" aria-controls="primary-menu-list" aria-expanded="false">
                <span class="dropdown-icon open">Menu					<svg class="svg-icon" width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 6H19.5V7.5H4.5V6ZM4.5 12H19.5V13.5H4.5V12ZM19.5 18H4.5V19.5H19.5V18Z" fill="currentColor"/></svg>				</span>
                <span class="dropdown-icon close">Close					<svg class="svg-icon" width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.9394L5.53033 4.46973L4.46967 5.53039L10.9393 12.0001L4.46967 18.4697L5.53033 19.5304L12 13.0607L18.4697 19.5304L19.5303 18.4697L13.0607 12.0001L19.5303 5.53039L18.4697 4.46973L12 10.9394Z" fill="currentColor"/></svg>				</span>
            </button><!-- #primary-mobile-menu -->
                    <!--/div-->
                    <!-- .menu-button-container -->
                    <div class="primary-menu-container">
                        <ul id="primary-menu-list" class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
                            <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-50"><a href="https://saferortox1stg.wpengine.com/"><span class="text-sm text-gray-400 hover:text-gray-500" href="#">Home</span></a></li>
                            <li class="text-gray-300">
                                <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg></li>
                            <li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-162"><a href="https://www.saferortoxic.org/disinfectants/listN"><span class="text-sm text-gray-400 hover:text-gray-500" href="#">The list</span></a></li>
                            <li class="text-gray-300">
                                <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg></li>
                            <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="https://saferortox1stg.wpengine.com/faqs/"><span class="text-sm text-gray-400 hover:text-gray-500" href="#">FAQs</span></a></li>
                            <li class="text-gray-300">
                                <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg></li>
                            <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-118 current_page_item menu-item-121"><a href="https://saferortox1stg.wpengine.com/blog/" aria-current="page"><span class="text-sm text-gray-400 hover:text-gray-500" href="#">Blog</span></a></li>
                            <li class="text-gray-300">
                                <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg></li>
                            <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="https://saferortox1stg.wpengine.com/team/"><span class="text-sm text-gray-400 hover:text-gray-500" href="#">Team</span></a></li>
                            <li class="text-gray-300">
                                <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg></li>
                        </ul>
                    </div>


                    <div class="contact-us">
                        <ul id="contact-us-id" class="hidden lg:block py-2 px-6 bg-green-600 hover:bg-green-700 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200">
                            <li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-97"><a href="https://lp.constantcontactpages.com/su/Op5Pj1c/MPENList">Join our List</a></li>
                        </ul>
                    </div>
                    <div class="lg:hidden">
                        <button class="navbar-burger flex items-center text-gray-400 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
            </button>

                    </div>

                </nav>

                <div class="hidden navbar-menu relative z-50">
                    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
                    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
                        <div class="flex items-center mb-8">
                            <a class="mr-auto text-3xl font-bold leading-none" href="#"><img class="h-10" src="atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto"></a>
                            <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                </button>
                        </div>
                        <div>

                            <div class="menu-mainmenu-container">
                                <ul class="">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-50"><a href="https://saferortox1stg.wpengine.com/"><span class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded">Home</span></a> </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-162"><a href="https://www.saferortoxic.org/disinfectants/listN"><span class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded">The list</span></a> </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="https://saferortox1stg.wpengine.com/faqs/"><span class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded">FAQs</span></a> </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-118 current_page_item menu-item-121"><a href="https://saferortox1stg.wpengine.com/blog/" aria-current="page"><span class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded">Blog</span></a> </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="https://saferortox1stg.wpengine.com/team/"><span class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded">Team</span></a> </li>
                                </ul>
                            </div>




                        </div>
                        <div class="mt-auto">
                            <div class="pt-6"><a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-l-xl rounded-t-xl" href="wp-login.php">Log in</a><a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl"
                                    href="#">Sign Up</a></div>
                            <p class="my-4 text-xs text-center text-gray-400">
                                <span>© 2020 All rights reserved.</span>
                            </p>
                            <div class="text-center">
                                <a class="inline-block px-1" href="#"><img src="atis-assets/social/facebook.svg" alt=""></a>
                                <a class="inline-block px-1" href="#"><img src="atis-assets/social/twitter.svg" alt=""></a>
                                <a class="inline-block px-1" href="#"><img src="atis-assets/social/instagram.svg" alt=""></a>
                            </div>
                        </div>
                    </nav>
                </div>


            </section>
            <script>
                // Burger menus
                document.addEventListener('DOMContentLoaded', function() {
                    // open
                    const burger = document.querySelectorAll('.navbar-burger');
                    const menu = document.querySelectorAll('.navbar-menu');

                    if (burger.length && menu.length) {
                        for (var i = 0; i < burger.length; i++) {
                            burger[i].addEventListener('click', function() {
                                for (var j = 0; j < menu.length; j++) {
                                    menu[j].classList.toggle('hidden');
                                }
                            });
                        }
                    }

                    // close
                    const close = document.querySelectorAll('.navbar-close');
                    const backdrop = document.querySelectorAll('.navbar-backdrop');

                    if (close.length) {
                        for (var i = 0; i < close.length; i++) {
                            close[i].addEventListener('click', function() {
                                for (var j = 0; j < menu.length; j++) {
                                    menu[j].classList.toggle('hidden');
                                }
                            });
                        }
                    }

                    if (backdrop.length) {
                        for (var i = 0; i < backdrop.length; i++) {
                            backdrop[i].addEventListener('click', function() {
                                for (var j = 0; j < menu.length; j++) {
                                    menu[j].classList.toggle('hidden');
                                }
                            });
                        }
                    }
                });
            </script>
        </header>
        <!-- #masthead -->

        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">



                    {% block content %} {% endblock %}







                </main>
            </div>
            <!-- content -->
        </div>
        <!-- contentarea -->
        <!-- #main -->
    </div>
    <!-- #primary -->
    <!-- #content -->



    <section>
        <div class="skew skew-top mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
            <polygon fill="currentColor" points="0 0 10 10 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-top ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
            <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
            </svg>
        </div>
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap">




                    <div class="w-full lg:w-1/3 mb-16 lg:mb-0">
                        <!--a class="inline-block mb-3 text-3xl font-bold leading-none" href="#"><img class="h-12" src="atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto"></a-->






                        <a class="inline-block mb-3 text-3xl font-bold leading-none" href="#">
                        </a>
                        <a href="https://saferortox1stg.wpengine.com/" class="custom-logo-link" rel="home"><img width="267" height="49" src="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic-300x55.png" class="custom-logo" alt="Logo: Safer or Toxic?" srcset="https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic-300x55.png 300w, https://saferortox1stg.wpengine.com/wp-content/uploads/2021/05/logo-safer-or-toxic.png 536w"
                                sizes="(max-width: 267px) 100vw, 267px"></a>


                        <p class="mb-4 max-w-sm text-gray-400 leading-loose">
                            'List N' Disinfectants </p>


                        <div>

                            <div id="menu-footer_social">
                                <a class="inline-block w-10 mr-2 p-2 bg-gray-50 hover:bg-gray-100 rounded" href="http://facebook.com"><img class="mx-auto" src="https://saferortox1stg.wpengine.com/atis-assets/social/facebook.svg"></a>
                                <a class="inline-block w-10 mr-2 p-2 bg-gray-50 hover:bg-gray-100 rounded" href="http://twitter.com"><img class="mx-auto" src="https://saferortox1stg.wpengine.com/atis-assets/social/twitter.svg"></a>
                                <a class="inline-block w-10 mr-2 p-2 bg-gray-50 hover:bg-gray-100 rounded" href="http://instagram"><img class="mx-auto" src="https://saferortox1stg.wpengine.com/atis-assets/social/instagram.svg"></a>
                            </div>

                        </div>
                    </div>

                    <div class="w-full lg:w-2/3 lg:pl-16 flex flex-wrap justify-between">
                        <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
                            <h3 class="mb-6 text-2xl font-bold">Products</h3>



                            <div class="footer_products">
                                <ul id="primary-menu-list" class="">
                                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                                        <a href="https://saferortox1stg.wpengine.com/about-us/"></a>
                                        <div class="mb-4"><a href="https://saferortox1stg.wpengine.com/about-us/"><span class="text-gray-800 hover:text-gray-600" href="#">About us</span></a> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
                            <h3 class="mb-6 text-2xl font-bold">Important Links</h3>

                            <div class="footer_important_links">
                                <ul id="primary-menu-list" class="">
                                    <li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Our Journeys</span></a> </div>
                                    </li>
                                    <li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Organization Team</span></a> </div>
                                    </li>
                                    <li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Pricing Plans</span></a> </div>
                                    </li>
                                    <li id="menu-item-63" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Roadmap</span></a> </div>
                                    </li>
                                    <li id="menu-item-64" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Terms &amp; Conditions</span></a> </div>
                                    </li>
                                    <li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Privacy Policy</span></a> </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="w-full md:w-1/3 lg:w-auto">
                            <h3 class="mb-6 text-2xl font-bold">Company</h3>
                            <div class="footer_company">
                                <ul id="primary-menu-list" class="">
                                    <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66">
                                        <a href="https://saferortox1stg.wpengine.com/about-us/"></a>
                                        <div class="mb-4"><a href="https://saferortox1stg.wpengine.com/about-us/"><span class="text-gray-800 hover:text-gray-600" href="#">About us</span></a> </div>
                                    </li>
                                    <li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Jobs</span></a> </div>
                                    </li>
                                    <li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
                                        <a href="#"></a>
                                        <div class="mb-4"><a href="#"><span class="text-gray-800 hover:text-gray-600" href="#">Press</span></a> </div>
                                    </li>
                                    <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74">
                                        <a href="https://saferortox1stg.wpengine.com/faqs/"></a>
                                        <div class="mb-4"><a href="https://saferortox1stg.wpengine.com/faqs/"><span class="text-gray-800 hover:text-gray-600" href="#">FAQ’s</span></a> </div>
                                    </li>
                                    <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67">
                                        <a href="https://saferortox1stg.wpengine.com/contact-us/"></a>
                                        <div class="mb-4"><a href="https://saferortox1stg.wpengine.com/contact-us/"><span class="text-gray-800 hover:text-gray-600" href="#">Contact Us</span></a> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="lg:text-center text-sm text-gray-400 border-t border-gray-100 pt-12 mt-16">© 2021. All rights reserved.</p>
            </div>
        </div>
        <div class="skew skew-bottom mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
            <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-bottom ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
            <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
            </svg>
        </div>
    </section>




    <!-- #page -->










    <script>
        document.body.classList.remove("no-js");
    </script>
    <script>
        if (-1 !== navigator.userAgent.indexOf('MSIE') || -1 !== navigator.appVersion.indexOf('Trident/')) {
            document.body.classList.add('is-IE');
        }
    </script>
    <script id="twenty-twenty-one-ie11-polyfills-js-after">
        (Element.prototype.matches && Element.prototype.closest && window.NodeList && NodeList.prototype.forEach) || document.write('<script src="https://saferortox1stg.wpengine.com/wp-content/themes/safer-theme/assets/js/polyfills.js?ver=1."></scr' + 'ipt>');
    </script>
    <script src="https://saferortox1stg.wpengine.com/wp-content/themes/safer-theme/assets/js/primary-navigation.js?ver=1." id="twenty-twenty-one-primary-navigation-script-js"></script>
    <script src="https://saferortox1stg.wpengine.com/wp-content/themes/safer-theme/assets/js/responsive-embeds.js?ver=1." id="twenty-twenty-one-responsive-embeds-script-js"></script>
    <script src="https://saferortox1stg.wpengine.com/wp-includes/js/wp-embed.min.js?ver=5.7.1" id="wp-embed-js"></script>
    <script>
        /(trident|msie)/i.test(navigator.userAgent) && document.getElementById && window.addEventListener && window.addEventListener("hashchange", (function() {
            var t, e = location.hash.substring(1);
            /^[A-z0-9_-]+$/.test(e) && (t = document.getElementById(e)) && (/^(?:a|select|input|button|textarea)$/i.test(t.tagName) || (t.tabIndex = -1), t.focus())
        }), !1);
    </script>



</body>

</html>